{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instâncias Flask</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <div class="container">
        <h1>Minhas Instâncias Flask</h1>
        <a href="{% url 'create_instance' %}">Criar Nova Instância</a>
        <ul>
            {% for instance in instances %}
            <li class="entidade">
                <strong>{{ instance.name }}</strong>  <!-- Nome do usuário -->
                <small>(Executando na porta {{ instance.port }})</small> <!-- Exibe a porta -->
                <a href="{% url 'start_instance' instance.pk %}">Iniciar</a>
                <a href="{% url 'stop_instance' instance.pk %}">Parar</a>
                <a href="{% url 'view_instance' instance.pk %}">Visualizar</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
